:root {
  /* color */
  --color-wine: #530d0d;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

body {
  text-align: center;
  background-color: var(--color-wine);
}

.logo {
  padding: 50px;
  color: var(--color-light-grey);
  font-size: 70px;
  font-weight: bold;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn .clothesBtn button {
  background-color: var(--color-green);
}

.btn .colorsBtn button {
  padding: 5px 15px;
  font-size: 25px;
  margin: 0 10px;
}

.btn .colorsBtn .blueBtn {
  background-color: var(--color-blue);
}

.btn .colorsBtn .yellowBtn {
  background-color: var(--color-yellow);
}

.btn .colorsBtn .pinkBtn {
  background-color: var(--color-pink);
}

.items {
  padding: 50px 600px;
  text-align: left;
}

.items li {
  outline: dashed 3px var(--color-light-grey);
  padding: 15px 15px;
  margin: 15px 0px;
  display: flex;
  align-items: center;
}

.items span {
  font-size: x-large;
  margin-left: 15px;
  color: var(--color-light-grey);
}
