:root {
  /* color */
  --color-wine: #530d0d;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --large-space: 50px;
  --base-space: 15px;

  /* animation */
  --animation-duration: 400ms;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

button:hover {
  transform: scale(1.1);
}

body {
  height: 100vh;
  background-color: var(--color-wine);
}

.logo {
  padding: var(--large-space);
  color: var(--color-light-grey);
  font-size: 70px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: transform var(--animation-duration) ease-in-out;
}

.logo:hover {
  color: black;
  transform: scale(1.1);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--large-space);
}

.btn .clothesBtn button {
  background-color: var(--color-wine);
  padding: 0 var(--base-space);
}

.btn .colorsBtn button {
  padding: 5px var(--base-space);
  font-size: 24px;
  margin: 0 15px;
}

.btn .colorsBtn .blueBtn {
  background-color: var(--color-blue);
}

.btn .colorsBtn .yellowBtn {
  background-color: var(--color-yellow);
}

.btn .colorsBtn .pinkBtn {
  background-color: var(--color-pink);
}

.items {
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  margin: 0 auto var(--large-space) auto;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.items li {
  outline: dashed 3px var(--color-light-grey);
  width: 35vw;
  padding: var(--base-space);
  margin-bottom: var(--base-space);
  display: flex;
  align-items: center;
  text-align: left;
  transition: transform var(--animation-duration) ease-in-out;
}

.items li:hover {
  transform: scale(1.05);
}

.items span {
  font-size: x-large;
  margin-left: var(--base-space);
  color: var(--color-light-grey);
}

@media screen and (max-width: 890px) {
  .logo {
    font-size: 55px;
  }

  .btn {
    flex-direction: column;
  }

  .btn .clothesBtn {
    margin-bottom: calc(var(--base-space) * 2);
  }

  .btn .clothesBtn {
    font-size: 10px;
    padding: 0;
  }

  .btn .colorsBtn button {
    font-size: 20px;
  }

  .items span {
    font-size: large;
  }
}
